.totalform{
    background-image: url("https://fondosmil.com/fondo/88844.jpg");
    background-position-x: center;
    background-position-y: center;
    min-height: 100vh;
    background-size: cover;

}
.titulo{
    position: absolute;
    font-size: 40px;
    margin-top: 0px;
    margin-left: 450px;
    font-weight: bold;
    text-decoration: underline;
    background: linear-gradient(black,black);
    -webkit-background-clip: text;
    color: transparent;
}

.inputName{
    position: absolute;
    margin-top: 140px;

}
.dur{
    width: 15.5em;
    margin-left: 600px;    
    font-size: medium;
}
.inputDuration{
    position: absolute;
    margin-top: 210px;
    
}
.season{
    width: 100px;
    height: 30px;
}
.difficulty{
    width: 120px;
    height: 30px;   
}
.selectDifficulty{
    position: absolute;
    margin-left: 600px;
    margin-top: 300px;
}
.selectSeasson{
    position: absolute;
    margin-top: 300px;
    margin-left: 750px;
    
}
.multiSelect{
    display: flex;
    margin-top: 50px;
    margin-left: 300px;
    width: 270px;
    height: 450px;
}
.butonAct{
    font-size: 20px;
    height: 50px;
    width: 100px;
    margin-left: 650px;
    transition: 0.2s ease;
    box-shadow: inset 0 0 10px #6904ee;
    
}

.confirmacion{
    position: absolute;
    background: rgb(15, 216, 243);
    text-decoration: underline;
    font-family: 'Dela Gothic One', cursive;
    border-radius: 1em;
    border:3px dashed #ee5a04 ;
    padding: 20px;
    color: #ee7504 ;
    font-size: 15px;
    margin-top:-40px;
    margin-left: 290px;
}

.volver{
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 90px;
    color:#966303;
    border-radius: 0.5em;
    border:2px solid white;
    height: 50px;
    transition: 0.3s ;
    z-index: 100;
    text-decoration: none;
}