.countries{
    display: flex;
    flex-wrap: wrap;

}
.btn{
    text-align: center;
    margin-top: 15px;
    padding: 15px;
}
.btn1{
    width: 120px;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: -2px 2px 2px black;
    font-size: 30px;
}
.btn1:active{
    background-color: rgba(204, 204, 204, 0.4);
}
.btn2{
    width: 120px;
    height: 50px;
    color:white;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 2px black;
    font-size: 30px;
}
.btn2:active{
    background-color: rgba(204, 204, 204, 0.4);
}
