@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
.img{
    position: absolute;
    width: 100%;
    height: 100%; 
}
.link{
    position: absolute;
    top: 150px;
    left: 47%;
    text-decoration: none;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 1rem;
    border: none;
    border-radius: 7%;
    font-size: 2em;
    font-family: 'Viaoda Libre', cursive;
    color: black; 
    background-color: rgba(204, 204, 204, 0.3);

}
.link:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(55, 45, 233, 0.774) 0%, rgba(48, 48, 241, 0.897) 35%, rgba(0, 213, 255, 0.316) 100%);
}
.titulo{
    position: absolute;
    color: white;
    top: 300px;
    left: 35%;
    font-size: 50px;
    font-family: 'Viaoda Libre', cursive;
    -webkit-text-stroke: 0.5px rgba(204, 204, 204, 0.808);
    color: transparent; 
}
